/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct   [Country Code]
      ,[Short Name]
      ,[Table Name]
      ,[Long Name]
      ,[Region]
      ,[Income Group]
      ,[Other groups]
      ,[GovernmentEffectiveness]
      ,[Political StabilityNoViolence]
      ,[VoiceandAccountability]
      ,[Pop_female]
      ,[Pop_male]
      ,[Pop_total]
      ,[Adolescent fertility %]
      ,[Women justified in beating %]
      ,[Energy pc]
      ,[GDP pc]
      ,[Human capital index]
      ,[Statistical performance indicator]
     -- ,[Indicator Name]
    --  ,[Indicator Code]
     -- ,[value]
  FROM [DB_jgomezgar].[dbo].[WDI_ready_Data]